*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#1b120d;
    color:#fff;
}

/* Navbar */

header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1000;
    background:rgba(0,0,0,.55);
    backdrop-filter:blur(10px);
}

nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo img{
    width:55px;
    height:55px;
    border-radius:50%;
    object-fit:cover;
}

.logo span{
    font-size:30px;
    font-weight:700;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    color:#fff;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
}

nav ul li a:hover{
    color:#b97a3d;
}

/* Hero */
.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?w=1600");
    background-size:cover;
    background-position:center;
    padding-top:90px;
}

.hero h1{
    font-size:70px;
    margin-bottom:20px;
}

.hero p{
    font-size:24px;
    margin-bottom:35px;
}

.btn{
    display:inline-block;
    background:#b97a3d;
    color:#fff;
    text-decoration:none;
    padding:15px 40px;
    border-radius:40px;
    font-size:20px;
    transition:.3s;
}

.btn:hover{
    background:#fff;
    color:#1b120d;
}

/* Sections */

section{
    padding:90px 10%;
}

h2{
    text-align:center;
    font-size:42px;
    margin-bottom:45px;
}

/* Menu */

.menu-category{
    background:#2a1a12;
    border-radius:18px;
    padding:30px;
    margin-bottom:35px;
}

.menu-category h3{
    color:#d6a267;
    margin-bottom:25px;
}

.item{
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid rgba(255,255,255,.15);
    padding:15px 0;
    font-size:20px;
}

.item:last-child{
    border:none;
}

/* About */

.about p{
    max-width:700px;
    margin:auto;
    text-align:center;
    font-size:20px;
    line-height:1.9;
}

/* Contact */

.contact{
    text-align:center;
}

.contact p{
    margin:15px 0;
    font-size:20px;
}

/* Footer */

footer{
    text-align:center;
    padding:25px;
    background:#140d08;
    color:#bbb;
}

/* Mobile */

@media(max-width:768px){

.hero h1{
    font-size:45px;
}

nav{
    flex-direction:column;
}

nav ul{
    margin-top:15px;
    gap:18px;
}

.logo span{
    font-size:24px;
}

h2{
    font-size:34px;
}

.item{
    font-size:17px;
}
/* WhatsApp */

.whatsapp{
position:fixed;
bottom:25px;
right:20px;

width:60px;
height:60px;

background:#25D366;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

text-decoration:none;

color:white;

box-shadow:0 5px 15px rgba(0,0,0,.3);

z-index:999;
}

/* Call */

.call{

position:fixed;

bottom:95px;

right:20px;

width:60px;

height:60px;

background:#8B5A2B;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

color:white;

text-decoration:none;

box-shadow:0 5px 15px rgba(0,0,0,.3);

z-index:999;

}

/* Top */

#topBtn{

position:fixed;

left:20px;

bottom:25px;

width:55px;

height:55px;

border:none;

background:#fff;

color:#8B5A2B;

font-size:24px;

border-radius:50%;

cursor:pointer;

box-shadow:0 5px 15px rgba(0,0,0,.3);

display:none;

}
}
